<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="logon.css" />

  </head>

  <body>
    <div class="wrap">  
      <div class="flip-container" id='flippr'>
        <div class="flipper">
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>
      
      <h1 class="text" id="welcome">Seja Bem Vindo!<br> <span>Por favor faça o seu login.</span></h1>
      
      <form method='post' id="theForm">
        <input type='text' id="username" name='username' placeholder='Username'>
        <input type='password' id='password' name='password' placeholder='Password'>
          
        <div class='login'>
          <a href="#"><i class="icon-cog"></i> Esqueceu a senha?</a>
          <input type='submit' value='Login'>
        </div><!-- /login -->
      </form>
    </div><!-- /wrap -->
  </body>
</html>